{% extends "myapp/base.html" %}

{% block title %}
    {% if estado %}{{ estado.etapa }}{% else %}Subvenciones{% endif %}
{% endblock %}

{% block content %}
{% load tags %}
    <div class="row forms_act_crea">
        <div class="ag_create_post_wrapper col-lg-12">
            <h1 class="h1">Detalles Subvención</h1>

            <form class="form-horizontal">
                <div class="row">
                    <div class="col-lg-3 doted-right">
                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Inicio -->
                                <label for="id_inicio">Inicio:</label>
                                <input type="text" id="id_inicio" value="{{ subvencion.inicio|date:'d/m/Y' }}" class="form-control" readonly>
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Fin -->
                                <label for="id_fin">Fin:</label>
                                <input type="text" id="id_fin" value="{{ subvencion.fin|date:'d/m/Y' }}" class="form-control" readonly>
                            </div>
                        </div>

                        <!-- Responsable -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Responsable:</label>
                            <ul id="id_responsable" class="form-control">
                                {% for responsable in subvencion.responsable.all %}
                                <li>
                                    <label for="id_responsable_{{ responsable.id }}"><input checked onclick="return false;" type="checkbox" value="{{ responsable.id }}" id="id_responsable_{{ responsable.id }}">
                                        {{ responsable.responsable }}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Enlace -->
                                <label for="id_drive">Drive:</label>
                                <textarea id="id_drive" rows="1" cols="20" class="form-control" readonly {% if subvencion.drive %}tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Drive" data-content="<a href='{{ subvencion.drive }}' target='_blank'>{{ subvencion.drive }}</a>"{% endif %}>{{ subvencion.drive }}</textarea>
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Expediente -->
                                <label for="id_gestiona_expediente">Gestiona expediente:</label>
                                <input type="text" value="{{ subvencion.gestiona_expediente }}" id="id_gestiona_expediente" class="form-control" readonly>
                            </div>
                        </div>

                        {% if subvencion.generalitat == None and subvencion.gobierno == None %}
                            <!-- Diputacion -->
                            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                <label for="id_diputacion">Departamento (Diputación de Alicante):</label>
                                <textarea id="id_diputacion" rows="1" cols="20" class="form-control" readonly>{{ subvencion.diputacion }}</textarea>
                            </div>
                        {% elif subvencion.diputacion == None and subvencion.gobierno == None %}
                            <!-- Generalitat -->
                            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                <label for="id_generalitat">Departamento (Generalitat Valenciana):</label>
                                <textarea id="id_generalitat" rows="1" cols="20" class="form-control" readonly>{{ subvencion.generalitat }}</textarea>
                            </div>
                        {% elif subvencion.diputacion == None and subvencion.diputacion == None %}
                            <!-- Gobierno -->
                            <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                                <label for="id_gobierno">Departamento (Gobierno de España):</label>
                                <textarea id="id_gobierno" rows="1" cols="20" class="form-control" readonly>{{ subvencion.gobierno }}</textarea>
                            </div>
                        {% endif %}

                        <!-- Colectivo -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_colectivo">Colectivo:</label>
                            <input type="text" value="{{ subvencion.colectivo }}" id="id_colectivo" class="form-control" readonly>
                        </div>

                        <!-- Estado -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_estado">Estado:</label>
                            <input type="text" value="{{ subvencion.estado }}" id="id_estado" class="form-control" readonly>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Cuantia -->
                                <label for="id_cuantia">Cuantía:</label>
                                <textarea id="id_cuantia" rows="1" cols="20" class="form-control" readonly>{{ subvencion.cuantia }}</textarea>
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Observaciones -->
                                <label for="id_observaciones">Otros enlaces:</label>
                                <textarea id="id_observaciones" rows="1" cols="20" class="form-control" readonly {% if subvencion.observaciones %}tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Otros enlaces" data-content="<a href='{{ subvencion.observaciones }}' target='_blank'>{{ subvencion.observaciones }}</a>"{% endif %}>{{ subvencion.observaciones }}</textarea>
                            </div>
                        </div>

                        <div class="detailed-subv-actions">
                            <div>Subvención creada por <b><i>{{ subvencion.user|title }}</i></b> el <span>{{ subvencion.created }}</span></div>
                            <div class="subv-edit-action"><a href="{% url 'myapp:edit_subvencion' slug=subvencion.slug %}">Editar subvención</a></div>
                            <div class="subv-delete-action"><a href="{% url 'myapp:delete_subvencion' slug=subvencion.slug %}">Eliminar subvención</a></div>
                        </div>
                    </div>
                    <div class="col-lg-6 doted-right">
                        <!-- Nombre -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_nombre">Nombre:</label>
                            <textarea id="id_nombre" rows="1" cols="20" class="form-control" readonly tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Nombre" data-content="{{ subvencion.nombre }}">{{ subvencion.nombre }}</textarea>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Bases -->
                                <label for="id_bases">Bases:</label>
                                <textarea id="id_bases" rows="1" cols="20" class="form-control" readonly {% if subvencion.bases %}tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Bases" data-content="<a href='{{ subvencion.bases }}' target='_blank'>{{ subvencion.bases }}</a>"{% endif %}>{{ subvencion.bases }}</textarea>
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Solicitud -->
                                <label for="id_solicitud">Solicitud:</label>
                                <textarea id="id_solicitud" rows="1" cols="20" class="form-control" readonly {% if subvencion.solicitud %}tabindex="0" data-toggle="popover" data-trigger="hover" data-html="true" title="Solicitud" data-content="<a href='{{ subvencion.solicitud }}' target='_blank'>{{ subvencion.solicitud }}</a>"{% endif %}>{{ subvencion.solicitud }}</textarea>
                            </div>
                        </div>

                        <!-- Descripcion -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_descripcion">Descripción:</label>
                            <textarea id="id_descripcion" disabled rows="12" cols="20" class="form-control">{{ subvencion.descripcion|safe }}</textarea>
                        </div>

                        <!-- Comentarios -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_comentarios">Comentarios:</label>
                            <textarea id="id_comentarios" disabled rows="12" cols="20" class="form-control">{{ subvencion.comentarios|safe }}</textarea>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Se relacion con -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label>Se relaciona con:</label>
                            <ul id="id_se_relaciona_con" class="form-control">
                                {% for subv in subvencion.se_relaciona_con.all %}
                                <li>
                                    <label for="id_se_relaciona_con_{{ subv.id }}"><input checked onclick="return false;" type="checkbox" name="se_relaciona_con" value="{{ subv.id }}" id="id_se_relaciona_con_{{ subv.id }}">
                                        {{ subv.nombre }}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover({ trigger: "manual" , html: true, animation:false})
                .on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide");
                        }
                    }, 300);
            });

            /* Change color if background divs are darker */
            divs_darkers = $('.card-header, .card-footer');
            divs_darkers.each(function(i) {
                if($(this).css('background-color') == 'rgb(51, 51, 51)' || $(this).css('background-color') == 'rgb(128, 0, 0)') {
                    $(this).css('color', '#fff');
                }
            });

            // select multiple fix height with size
            $("select#id_responsable").attr('size', '10');
            var select_resp = document.getElementById('id_responsable');
            select_resp.size = select_resp.length;
        });
    </script>
{% endblock %}
