{% extends "myapp/base.html" %}
{% block content %}

    {% load staticfiles %}
    {% load tags %}
    <div class="row">
        <div class="col">
        </div>
        <div class="ag_create_post_wrapper col">
            <h1>Añadir Departamento (Diputación)</h1>

            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}

                {% if form.errors %}
                    <div class="ag_form_login_message_error">
                        {% for field,error in form.errors.items %}
                            {{ field|capfirst }} - {{ error|striptags }}
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Diputacion -->
                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre|htmlattributes:"class:form-control" }}
                </div>

                <!-- Font color -->
                <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                    {{ form.font_color.label_tag }}
                    {{ form.font_color|htmlattributes:"class:form-control" }}
                </div>

                <input onclick="this.disabled=true,this.form.submit();" class="button_submit_create_form" type="submit" value="Crear Departamento" />
                <a href="{% url 'myapp:new_subvencion' %}"><button type="button" class="btn btn-info">Volver</button></a>
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
                {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
            </form>
        </div>
        <div class="col"></div>

    </div>
{% endblock %}
