{% extends "myapp/base.html" %}

{% block title %}
    {% if estado %}{{ estado.etapa }}{% elif diputacion %}{{ diputacion.nombre }}{% elif gobierno %}{{ gobierno.nombre }}{% elif user %}{{ user.responsable }}{% elif generalitat %}{{ generalitat.nombre }}{% else %}Subvenciones{% endif %}
{% endblock %}

{% block content %}
{% load tags %}
{% load staticfiles %}
{% load notification_tags %}

<!-- BACK TO TOP -->
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

<div class="row position-fixed subv-row-departamentos collapse" id="dep-notif-collapse">
    <div class="col-md-12 col-lg-12 col-departamentos nopadding">
        <div class="col-md-3 col-xs-3 row-for-estados">
            {% for e in estados %}
                <div class="div-dep" style="border-left-style: solid;border-left-width: 15px;border-left-color:{{ e.font_color }};">
                    <a href="{{ e.get_absolute_url }}">{{ e.etapa }}</a>
                    <!--
                        In order to get the number of estados that each subsidie has i took this from:
                        https://stackoverflow.com/questions/13145254/django-annotate-count-with-a-distinct-field
                        also defined in my index view
                    -->
                    <span>{{ e.number_stats }}</span>
                </div>
            {% endfor %}
            <div class="div-dep" style="border-left-style: solid;border-left-width: 15px;border-left-color:#ff0017;">
                <a href="{% url 'myapp:index' %}">Todas las subvenciones</a>
                <span>{{ total_subvenciones }}</span>
            </div>
        </div>

        {% if notifications %}
        <div class="col-md-12 col-xs-9 row-user-notifications nopadding">
            <div class="card">
                <div class="card-header">
                    Notificaciones
                </div>

                <div class="notification-box-list" style="overflow:auto;">
                    {% user_notifications %}
                    {% include_notify_js_variables %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="row align-items-center subv-table-row">
    <div class="col-12 nopadding">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if subvenciones %}
            <table id="subv_table_ordering" class="table" width="100%">
                <thead class="thead-subv-table">
                    <tr class="table-active">
                        <th>Inicio</th>
                        <th>Nombre y descripción</th>
                        <th>Vencimiento</th>
                        <th>Comentarios</th>
                    </tr>
                </thead>

                <tbody>
                    {% for subvencion in subvenciones %}
                        <tr>
                            <td class="td1 {% if subvencion.generalitat == None and subvencion.gobierno == None %}diputacion{% elif subvencion.diputacion == None and subvencion.gobierno == None %}conselleria{% elif subvencion.diputacion == None and subvencion.diputacion == None %}gobierno{% endif %}">
                                <div class="bloque01">
                                    <div class="fechaInicio">{{ subvencion.inicio|date:"d/m/Y" }}</div>
                                    <div class="colectivo">
                                        <ul>
                                            {% for colectivo in colectivos %}
                                                {% if colectivo in subvencion.colectivo.all %}
                                                        <li>{{ colectivo }}</li>
                                                {% else %}
                                                    <li class="apagado">{{ colectivo }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="departamento {% if subvencion.generalitat == None and subvencion.gobierno == None %}depart{{ subvencion.diputacion.id }}{% elif subvencion.diputacion == None and subvencion.gobierno == None %}depart{{ subvencion.generalitat.id }}{% elif subvencion.diputacion == None and subvencion.diputacion == None %}depart{{ subvencion.gobierno.id }}{% endif %}">
                                    {% if subvencion.generalitat == None and subvencion.gobierno == None %}
                                    <a class="dep_gene_dip" href="{{ subvencion.diputacion.get_absolute_url }}">{{ subvencion.diputacion }}</a>
                                    {% elif subvencion.diputacion == None and subvencion.gobierno == None %}
                                        <a class="dep_gene_dip" href="{{ subvencion.generalitat.get_absolute_url }}">{{ subvencion.generalitat }}</a>
                                    {% elif subvencion.diputacion == None and subvencion.diputacion == None %}
                                        <a class="dep_gene_dip" href="{{ subvencion.gobierno.get_absolute_url }}">{{ subvencion.gobierno }}</a>
                                    {% endif %}
                                </div>
                                <div class="repositorios">
                                    <div class="drive"><i class="fab fa-google-drive"></i>

                                        {% if not subvencion.drive %}
                                        {% else %}
                                            <a href="{{ subvencion.drive }}" target="_blank">Drive</a>
                                        {% endif %}
                                    </div>
                                    <div class="gestiona"><i class="fas fa-university"></i> {{ subvencion.gestiona_expediente }}</div>
                                </div>
                            </td>
                            <td class="td2">
                                <b>
                                    <a href="{{ subvencion.get_absolute_url }}" target="_blank">
                                        {{ subvencion.nombre|safe }}
                                    </a>
                                </b>
                                <br />
                                {{ subvencion.descripcion }}
                            </td>
                            <td class="td3 estadocss" style="{% if subvencion.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif subvencion.fin|daysuntil == 'passed days' %}background-color:{{ subvencion.estado.font_color }};{% else %}background-color:#fff;{% endif %}">
                                <div class="fechaInicio date-end">{{ subvencion.fin|date:"d/m/Y" }}</div>
					            <div class="estadoBloque estado estadocss" style="background-color:{{ subvencion.estado.font_color }};">{{ subvencion.estado }}</div>
                                <div class="responsables">
                                    {% for responsable in subvencion.responsable.all %}
                                        <span class="badge badge-pill badge-inverse" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable }}">
                                            <a style="color:inherit;" href="{% url 'myapp:subvencion_by_category' estado_slug=responsable.responsable %}">{{ responsable|split_value }}</a>
                                        </span>
                                    {% endfor %}
                                </div>
					            <div class="cuantia"><i class="fas fa-euro-sign"></i> {{ subvencion.cuantia|safe }}</div>
                            </td>
                            <td class="td4">
                                {{ subvencion.comentarios|safe }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No tiene subvenciones asignadas.</a></h2>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
    <!-- Sorting datatimes in datatables -->
    <!-- 
        https://datatables.net/blog/2014-12-18
        Datatables plugin for sorting dates in the table
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{% static 'myapp/js/datetime-moment.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/dataTables.buttons.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.flash.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.bootstrap4.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.colVis.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.foundation.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.html5.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.jqueryui.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.print.js' %}"></script>
    <script src="{% static 'myapp/datatables/Buttons-1.5.1/js/buttons.semanticui.js' %}"></script>
    <script src="{% static 'myapp/datatables/jszip.min.js' %}"></script>
    <script src="{% static 'myapp/datatables/pdfmake.min.js' %}"></script>
    <script src="{% static 'myapp/datatables/vfs_fonts.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            //$.fn.dataTable.moment('D/M/YYYY');
            oTable= $('#subv_table_ordering').DataTable({
                "ordering": false,
                //"searching": false,
                "language": {
                    url: "/static/myapp/location/es_ES.json"
                },
                //"aaSorting": [[ 2, "asc" ]], // sort by fin
                "lengthMenu": [[10000, -1], [10000, "Todas"]],
                //if I want to show the lengthMenu also do this: Blfrtip
                dom: 'Bfrtip',
                columns: [
                    { "orderable": false },
                    { "orderable": false },
                    { "orderable": false },
                    { "orderable": false }
                ],
                buttons: [
                    {
                        extend: 'collection',
                        text: 'Acciones',
                        buttons: [
                            {extend: 'copy', orientation: 'landscape', pageSize: 'LEGAL'},
                            {extend: 'excel', orientation: 'landscape', pageSize: 'LEGAL',
                                customize: function( xlsx ) {
                                    var sheet = xlsx.xl.worksheets['sheet1.xml'];

                                    $('row c[r^="C"]', sheet).attr( 's', '2' );
                                }
                            },
                            {extend: 'csv', orientation: 'landscape', pageSize: 'LEGAL'},
                            {extend: 'pdf', orientation: 'landscape', pageSize: 'LEGAL'},
                            {extend: 'print', orientation: 'landscape', pageSize: 'LEGAL'}
                        ]
                    }
                ]
            });

            $('#search-on-navigation').keyup(function(){
                  oTable.search($(this).val()).draw();
            });

            //Notifications script
            $(".notification-box-list .delete-notification").click(function()
            {
                if ($(this).parent().parent().find('div.notification').length === 1)
                {
                    $(this).parent().parent().parent().parent().hide();
                }
            });

            $('.estadocss').each(function() {
                var rgb = $(this).css('backgroundColor');

                var colors = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                var brightness = 1;

                var r = colors[1];
                var g = colors[2];
                var b = colors[3];

                var ir = Math.floor((255-r)*brightness);
                var ig = Math.floor((255-g)*brightness);
                var ib = Math.floor((255-b)*brightness);

                $(this).css('color', 'rgb('+ir+','+ig+','+ib+')');
            });

            // Columns when ascending or descending change color
            // $('#subv_table_ordering thead th').click(function() {
            //     if ($(this).attr("aria-sort") == 'ascending') {
            //         $(this).css("background-color", "#666");
            //     } else {
            //         $(this).css("background-color", "#000");
            //     }
            // });

            //Remove None from notifications and also the last space
            /*$('.notification-box-list .notification a').each(function() {
                $(this).text($(this).text().trim().replace(/None/i, "").replace(/\s+$/, ''));
            });*/

            // Scroll to subsidie that have the actual day and blink the subsidies that have as end date the actual day
            var CurrentDate = new Date();
            var dataFormated = ('0' + CurrentDate.getDate()).slice(-2)+"/"+('0'+(CurrentDate.getMonth()+1)).slice(-2)+"/"+CurrentDate.getFullYear();

            $(window).on('load', function(){
                $('.date-end').each(function() {
                    //console.log($(this).text());
                    if ($.trim($(this).text()) == dataFormated) {
                        $('html, body').animate({
                            scrollTop: $(this).parent().offset().top=($(this).parent().offset().top)-($(this).parent().outerHeight())
                        }, 100);
                        $(this).parent().parent().fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                    }
                });

                // Navigation click on button that is left to the search box for scrolling to actual subsidie
                $('#button-actual-subsidie-navigation').click(function() {
                    console.log("click en el span");
                    $('.date-end').each(function() {
                        console.log("estoy dentro de cada fecha fin");
                        //console.log($(this).text());
                        if ($.trim($(this).text()) == dataFormated) {
                            console.log("estoy dentro del if");
                            $('html, body').animate({
                                scrollTop: $(this).parent().offset().top=($(this).parent().offset().top)-($(this).parent().outerHeight())
                            }, 100);
                            console.log("ya he hecho la animación");
                            $(this).parent().parent().fadeIn(200).fadeOut(200).fadeIn(200).fadeOut(200).fadeIn(200);
                        }
                    });
                });
            });

            // Back to top functionality
            if ($('#back-to-top').length) {
                var scrollTrigger = 100, // px
                    backToTop = function () {
                        var scrollTop = $(window).scrollTop();
                        if (scrollTop > scrollTrigger) {
                            $('#back-to-top').addClass('show');
                        } else {
                            $('#back-to-top').removeClass('show');
                        }
                    };
                backToTop();
                $(window).on('scroll', function () {
                    backToTop();
                });
                $('#back-to-top').on('click', function (e) {
                    e.preventDefault();
                    $('html,body').animate({
                        scrollTop: 0
                    }, 700);
                });
            }
        });
    </script>
    <script src="{% static 'notify/notifyX.js' %}"></script>
{% endblock %}

