{% extends "myapp/base.html" %}

{% block title %}
    {% if estado %}{{ estado.etapa }}{% elif diputacion %}{{ diputacion.nombre }}{% elif generalitat %}{{ generalitat.nombre }}{% else %}Subvenciones{% endif %}
{% endblock %}

{% block content %}
{% load tags %}
{% load staticfiles %}
{% load notification_tags %}

<div class="row subv-row-departamentos">
    <div class="col-md-3 col-lg-3 col-departamentos nopadding">
        {% for e in estados %}
            <div class="div-dep" style="border-left-style: solid;border-left-width: 15px;border-left-color:{{ e.font_color }};">
                <a href="{{ e.get_absolute_url }}">{{ e.etapa }}</a>
                <!--
                    In order to get the number of estados that each subsidie has i took this from:
                    https://stackoverflow.com/questions/13145254/django-annotate-count-with-a-distinct-field
                    also defined in my index view
                -->
                <span>{{ e.number_stats }}</span>
            </div>
        {% endfor %}
    </div>

    {% if notifications %}
        <div class="col-md-9 col-lg-9 row-user-notifications nopadding">
            <div class="card">
                <div class="card-header">
                    Notificaciones
                </div>

                <div class="notification-box-list" style="height:150px;overflow:auto;">
                    {% user_notifications %}
                    {% include_notify_js_variables %}
                </div>
            </div>
        </div>
{% endif %}
</div>

<div class="row align-items-center subv-table-row">
    <div class="col-12 nopadding">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% if subvenciones %}
            <table id="subv_table_ordering" class="table" width="100%">
                <thead class="thead-subv-table">
                    <tr class="table-active">
                        <th>INICIO</th>
                        <th class="table_th_dep">DEPARTAMENTO</th>
                        <th class="table_th_nombre">NOMBRE</th>
                        <th>FIN</th>
                        <th>CUANTÍA</th>
                        <th>RESPONSABLES</th>
                        <th class="table_th_estado">ESTADO</th>
                        <th>COMENTARIOS</th>
                        <th>GESTIONA</th>
                        <th><i class="fa fa-tasks" aria-hidden="true"></i></th>
                    </tr>
                </thead>

                <tbody>
                    {% for subvencion in subvenciones %}
                        <tr>
                            <td>
                                {{ subvencion.inicio|date:"d/m/Y" }}
                            </td>
                            <td class="estadocss2" style="background-color:{% if subvencion.generalitat == None %}{{ subvencion.diputacion.font_color }}{% else %}{{ subvencion.generalitat.font_color }}{% endif %};">
                                {% if subvencion.generalitat == None %}
                                <a class="dep_gene_dip" href="{{ subvencion.diputacion.get_absolute_url }}">{{ subvencion.diputacion }}</a>
                                {% else %}
                                    <a class="dep_gene_dip" href="{{ subvencion.generalitat.get_absolute_url }}">{{ subvencion.generalitat }}</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ subvencion.get_absolute_url }}" target="_blank">
                                    {{ subvencion.nombre|safe }}
                                </a>
                                <span style="display:block;">{{ subvencion.descripcion }}</span>
                            </td>
                            <td class="estadocss" style="{% if subvencion.fin|daysuntil in days_until_estado %}background-color:#ff0000;color:#fff;{% elif subvencion.fin|daysuntil == 'passed days' %}background-color:{{ subvencion.estado.font_color }};{% else %}background-color:#fff;{% endif %}">
                                {{ subvencion.fin|date:"d/m/Y" }}
                            </td>
                            <td>{{ subvencion.cuantia|safe }}</td>
                            <td>
                                {% for responsable in subvencion.responsable.all %}
                                    <span class="badge badge-pill badge-{% if responsable|split_value == 'MV' %}danger{% elif responsable|split_value == 'T' %}primary{% elif responsable|split_value == 'JC' %}warning{% elif responsable|split_value == 'R' %}info{% elif responsable|split_value == 'M' %}success{% elif responsable|split_value == 'JM' %}inverse{% else %}default{% endif %}" tabindex="0" data-toggle="popover" data-trigger="hover" data-content="{{ responsable }}">{{ responsable|split_value }}</span>
                                {% endfor %}
                            </td>
                            <td class="estadocss" style="background-color:{{ subvencion.estado.font_color }};">
                                {{ subvencion.estado }}
                            </td>
                            <td {% if subvencion.comentarios %}tabindex="0" data-toggle="popover" data-trigger="hover" title="Comentarios" data-content="{{ subvencion.comentarios|safe }}"{% endif %}>
                                {{ subvencion.comentarios|truncatewords:3|safe }}
                            </td>
                            <td>
                                {{ subvencion.gestiona_expediente }}<br>
                                {% if not subvencion.drive %}
                                {% else %}
                                    <a href="{{ subvencion.drive }}" target="_blank">Drive</a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'myapp:edit_subvencion' slug=subvencion.slug %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>No hay subvenciones, proceda a insertar <a href="{% url 'myapp:new_subvencion' %}">una.</a></h2>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block js %}
    <!-- Sorting datatimes in datatables -->
    <!-- 
        https://datatables.net/blog/2014-12-18
        Datatables plugin for sorting dates in the table
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="{% static 'myapp/js/datetime-moment.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
            $.fn.dataTable.moment('D/M/YYYY');
            $('#subv_table_ordering').DataTable({
                "language": {
                    url: "/static/myapp/location/es_ES.json"
                },
                "lengthMenu": [[50, -1], [50, "Todas"]]
            });

            //Notifications script
            $(".notification-box-list .delete-notification").click(function()
            {
                if ($(this).parent().parent().find('div.notification').length === 1)
                {
                    $(this).parent().parent().parent().parent().hide();
                }
            });

            $('.estadocss').each(function() {
                var rgb = $(this).css('backgroundColor');

                var colors = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                var brightness = 1;

                var r = colors[1];
                var g = colors[2];
                var b = colors[3];

                var ir = Math.floor((255-r)*brightness);
                var ig = Math.floor((255-g)*brightness);
                var ib = Math.floor((255-b)*brightness);

                $(this).css('color', 'rgb('+ir+','+ig+','+ib+')');
            });

            // Columns when ascending or descending change color
            $('#subv_table_ordering thead th').click(function() {
                if ($(this).attr("aria-sort") == 'ascending') {
                    $(this).css("background-color", "darkgrey");
                } else {
                    $(this).css("background-color", "#000");
                }
            });

            //Remove None from notifications and also the last space
            /*$('.notification-box-list .notification a').each(function() {
                $(this).text($(this).text().trim().replace(/None/i, "").replace(/\s+$/, ''));
            });*/
        });
    </script>
    <script src="{% static 'notify/notifyX.js' %}"></script>
{% endblock %}

