<nav class="navbar navbar-expand-sm navbar-custom fixed-top">
    <a data-toggle="collapse" href="#dep-notif-collapse" class="navbar-brand">Gestión de Subvenciones</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <i class="fa fa-bars fa-lg py-1 text-white"></i>
    </button>

    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'myapp:index' %}">Inicio</a>
            </li>
            <!--<li class="nav-item">
                <a href="#" id="news" class="nav-link">
                    <i class="fa fa-bell"></i>
                    <span class="button__badge">1</span>
                </a>

                <div style="display:none" class="alert_list">
                    <ul class="unstyled">
                        <li class="alert_li">
                            Notificaciones
                        </li>
                    </ul>
                </div>
            </li>-->
        </ul>

        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Bienvenido, {{ request.user.username|title }}</a>
                </li>
            {% else %}
                <li class="nav-link" class="nav-item">Bienvenido nuevo usuario. Por favor inicie sesión</li>
            {% endif %}
            <li class="nav-item {% if request.path == '/new/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'myapp:new_subvencion' %}">Crear subvención</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Salir</a></li>
        </ul>
    </div>
</nav>