{% extends "myapp/base.html" %}
{% block content %}

    {% load staticfiles %}
    {% load tags %}
    <div class="row forms_act_crea">
        <div class="ag_create_post_wrapper col-lg-12">
            {% if request.path == '/new/' %}
                <h1 class="h1">Añadir Subvención</h1>
            {% else %}
                <h1 class="h1">Editar Subvención</h1>
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form class="form-horizontal" method="post" enctype="multipart/form-data" action="">{% csrf_token %}

                {% if form.errors %}
                    <div class="ag_form_login_message_error">
                        {% for field,error in form.errors.items %}
                            {{ field|capfirst }} - {{ error|striptags }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-3 doted-right">
                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Inicio -->
                                {{ form.inicio.label_tag }}
                                {{ form.inicio|htmlattributes:"class:form-control" }}
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Fin -->
                                {{ form.fin.label_tag }}
                                {{ form.fin|htmlattributes:"class:form-control" }}
                            </div>
                        </div>

                        <!-- Responsable -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.responsable.label_tag }}
                            {{ form.responsable|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Enlace -->
                                {{ form.drive.label_tag }}
                                {{ form.drive|htmlattributes:"class:form-control" }}
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Gestiona Expediente -->
                                {{ form.gestiona_expediente.label_tag }}
                                {{ form.gestiona_expediente|htmlattributes:"placeholder: Expediente, class:form-control" }}
                            </div>
                        </div>

                        <!-- Estado -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.estado.label_tag }}
                            {{ form.estado|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Cuantia -->
                                {{ form.cuantia.label_tag }}
                                {{ form.cuantia|htmlattributes:"placeholder: Cuantia, class:form-control" }}
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Observaciones -->
                                <label for="id_observaciones">Otros enlaces:</label>
                                {{ form.observaciones|htmlattributes:"placeholder: Observaciones, class:form-control" }}
                            </div>
                        </div>

                        <!-- Ente -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            <label for="id_ente">Departamento:</label>
                            {{ form.ente|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Diputacion -->
                        <div class="title-create_post field-diputacion">
                            {{ form.diputacion|htmlattributes:"class:form-control" }}
                        </div>

                        <!-- Generalitat -->
                        <div class="title-create_post field-generalitat">
                            {{ form.generalitat|htmlattributes:"class:form-control" }}
                        </div>
                    </div>

                    <div class="col-lg-6 doted-right">
                        <!-- Nombre -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre|htmlattributes:"class:form-control" }}
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Bases -->
                                {{ form.bases.label_tag }}
                                {{ form.bases|htmlattributes:"placeholder: Bases, class:form-control" }}
                            </div>
                            <div class="form-group col-md-6 title-create_post" style="text-align:justify;font-weight:bold;">
                                <!-- Solicitud -->
                                {{ form.solicitud.label_tag }}
                                {{ form.solicitud|htmlattributes:"placeholder: Solicitud, class:form-control" }}
                            </div>
                        </div>

                        <!-- Se relacion con -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.se_relaciona_con.label_tag }}
                            {{ form.se_relaciona_con|htmlattributes:"placeholder: Expediente, class:form-control" }}
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <!-- Descripcion -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion|htmlattributes:"placeholder: Descripcion, class:form-control" }}
                        </div>

                        <!-- Comentarios -->
                        <div class="form-group title-create_post" style="text-align:justify;font-weight:bold;">
                            {{ form.comentarios.label_tag }}
                            {{ form.comentarios|htmlattributes:"placeholder: Comentarios, class:form-control" }}
                        </div>
                    </div>
                </div>

                {% if request.path == '/new/' %}
                    <input onclick="this.disabled=true,this.form.submit();" class="button_submit_create_form" type="submit" value="Crear Subvención" />
                {% else %}
                    <input class="button_submit_create_form" type="submit" value="Actualizar Subvención" />
                {% endif %}
            </form>
        </div>

        <div class="col" style="display:none;">
            {% if request.path != '/new/' %}
                <a style="margin-top:20px;" href="{% url 'myapp:delete_subvencion' slug=subvencion.slug %}">Eliminar subvención</a>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script>
        window.onload = function(e){
            var ente = document.getElementById("id_ente");
            ente.addEventListener("change", myFunction);

            function myFunction() {
                var ente_value = ente.options[ente.selectedIndex].value;
                var diputacion = document.getElementsByClassName('field-diputacion');
                var generalitat = document.getElementsByClassName('field-generalitat');

                if(ente_value == 'DA') {
                   for (var i=0; i<generalitat.length; i+=1){
                      generalitat[i].style.display = 'none';
                      document.getElementById("id_generalitat").selectedIndex = 0;
                   }
                   for (var i=0; i<diputacion.length; i+=1){
                      diputacion[i].style.display = 'block';
                      document.getElementById("id_diputacion").selectedIndex = 0;
                   }
                } else if (ente_value == 'GV') {
                    for (var i=0; i<diputacion.length; i+=1){
                      diputacion[i].style.display = 'none';
                      document.getElementById("id_diputacion").selectedIndex = 0;
                    }
                    for (var i=0; i<generalitat.length; i+=1){
                      generalitat[i].style.display = 'block';
                      document.getElementById("id_generalitat").selectedIndex = 0;
                   }
                }
            }

            if(ente.options[ente.selectedIndex].value == 'DA') {
                for (var i=0; i<document.getElementsByClassName('field-generalitat').length; i+=1){
                  document.getElementsByClassName('field-generalitat')[i].style.display = 'none';
                }
            } else if (ente.options[ente.selectedIndex].value == 'GV') {
                for (var i=0; i<document.getElementsByClassName('field-diputacion').length; i+=1){
                  document.getElementsByClassName('field-diputacion')[i].style.display = 'none';
                }
            }

            // Convert input text inicio and fin into datepickers!!!
            //$("#id_inicio, #id_fin").multiDatesPicker();

            // Change textarea cols
            $("textarea[name='drive'], textarea[name='bases'], textarea[name='solicitud'], textarea[name='observaciones']").attr({'cols': '20', 'rows': '1'});
            $("textarea[name='descripcion']").attr({'cols': '20', 'rows': '12'});
            $("textarea[name='comentarios']").attr({'cols': '20', 'rows': '12'});
            $("textarea[name='cuantia']").attr({'cols': '20', 'rows': '1'});

            // Admin plus
            /*$('.related-widget-wrapper .related-widget-wrapper-link').each(function() {
                $(this).insertBefore($(this).parent());
            });*/
            $('#add_id_estado').insertAfter($('label[for="id_estado"]'));
            $('#add_id_responsable').insertAfter($('label[for="id_responsable"]'));
            $('#add_id_diputacion').wrap("<div class='input-group title-create_post smalls_for_departments'><small id='selectDepartamentoDiputacion' class='form-text text-muted'>Añadir departamento Diputación </small></div>");
            $('#add_id_generalitat').wrap("<div class='input-group title-create_post smalls_for_departments'><small id='selectDepartamentoGeneralitat' class='form-text text-muted'>Añadir departamento Generalitat </small></div>");

            // add class to select because they lose class with admin functionality
            $("form:first select").removeClass("form-control").addClass("form-control");

            // select multiple fix height with size
            $("select#id_responsable").attr('size', '10');
            $("select#id_se_relaciona_con").attr('size', '10');
            var select_resp = document.getElementById('id_responsable');
            var select_relac = document.getElementById('id_se_relaciona_con');
            select_resp.size = select_resp.length;
            select_relac.size = select_relac.length;

            //quit checkbox attr formcontrol
            $("#id_se_relaciona_con li label input").removeClass("form-control");
        }
    </script>
    <!-- For the admin site -->
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <script src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
{% endblock %}